@model Vehicle.Data.Models.Purchase

@{
    ViewData["Title"] = "Create";
}

<h4>Purchase</h4>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DOB" class="control-label"></label>
                        <input asp-for="DOB" class="form-control datepicker" type="date" />
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Contact" class="control-label"></label>
                        <input asp-for="Contact" class="form-control" />
                        <span asp-validation-for="Contact" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="RegistrationNumber" class="control-label"></label>
                        <input asp-for="RegistrationNumber" class="form-control" />
                        <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VehicleMake" class="control-label"></label>
                        <select asp-for="VehicleMake" class="form-control">
                            <option>---Select Vehicle Make---</option>
                            <option>Toyota</option>
                            <option>Honda</option>
                        </select>
                        <span asp-validation-for="VehicleMake" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VehicleModel" class="control-label"></label>
                        <select asp-for="VehicleModel" class="form-control">
                            <option>---Select Vehicle Model---</option>
                            <option>Corolla</option>
                            <option>Camry</option>
                            <option>Accord</option>
                            <option>Civic</option>
                        </select>
                        <span asp-validation-for="VehicleModel" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="BodyType" class="control-label"></label>
                        <select asp-for="BodyType" class="form-control">
                            <option>---Select Body Type---</option>
                            <option>Car</option>
                            <option>SUV</option>
                            <option>Truck</option>
                            <option>Van</option>
                        </select>
                        <span asp-validation-for="BodyType" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-block" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <a class="btn btn-outline-secondary btn-block" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

